<div class="contentCenter">
  <!-- start - terminal -->
  <div class="terminal">
    <pre><span class="terminalBot">meetup:</span> Heyo, let me fetch meet-ups.. This should be quick! <span class="inlineBlock"><mat-progress-spinner class="inlineBlock" color="primary" mode="indeterminate" [diameter]="14"></mat-progress-spinner></span></pre>
  </div>
  <!-- end - terminal -->
  <!-- start - terminal live -->
  <div class="terminal">
    <pre><span class="terminalBot">LIVE:</span></pre>
    <pre>01. <a>This is a meetup title</a> (Singapore)</pre>
    <pre>02. <a>This is another meetup title</a> (New York)</pre>
    <pre>03. <a>This is just another meetup title</a> (Qatar)</pre>
    <pre>04. <a>This is just a meetup title</a> (Bengaluru)</pre>
    <pre><a routerLink="../live">more</a></pre>
  </div>
  <!-- end - terminal live -->
  <!-- start - terminal upcoming -->
  <div class="terminal">
    <pre><span class="terminalBot">UPCOMING:</span></pre>
    <pre>01. <a>This is a meetup title</a> (Singapore)</pre>
    <pre>02. <a>This is another meetup title</a> (New York)</pre>
    <pre>03. <a>This is just another meetup title</a> (Qatar)</pre>
    <pre>04. <a>This is just a meetup title</a> (Bengaluru)</pre>
    <pre><a routerLink="../upcoming">more</a></pre>
  </div>
  <!-- end - terminal upcoming -->
  <!-- start - terminal live -->
  <div class="terminal">
    <pre><span class="terminalBot">PREVIOUS:</span></pre>
    <pre>01. <a>This is a meetup title</a> (Singapore)</pre>
    <pre>02. <a>This is another meetup title</a> (New York)</pre>
    <pre>03. <a>This is just another meetup title</a> (Qatar)</pre>
    <pre>04. <a>This is just a meetup title</a> (Bengaluru)</pre>
    <pre><a routerLink="../previous">more</a></pre>
  </div>
  <!-- end - terminal live -->
</div>
