<div class="contentCenter">
  <!-- start - terminal -->
  <div class="terminal">
    <pre><span class="terminalBot">UPCOMING</span></pre>
    <pre
      *ngIf="upcomingInfo.isFetching"><span class="inlineBlock"><mat-progress-spinner class="inlineBlock" color="primary" mode="indeterminate" [diameter]="14"></mat-progress-spinner></span></pre>
    <pre *ngIf="upcomingInfo.message.length"><span class="terminalBot">meetup:</span> {{upcomingInfo.message}}</pre>
    <pre
      *ngIf="upcomingInfo.errorMessage.length"><span class="terminalBotError">meetup:</span> {{upcomingInfo.errorMessage}}</pre>
    <ng-container *ngIf="appInfo.upcomingMeetups">
      <pre
        *ngFor="let meetup of appInfo.upcomingMeetups; index as index;">0{{index + 1}}. <a [routerLink]="'../description/' + meetup._id.$oid">{{meetup.title}}</a><span *ngIf="meetup.location.country.length"> • {{meetup.location.country}}</span> • {{appInfo.getShortDate(meetup.timeline.from.$date)}}</pre>
    </ng-container>
  </div>
  <!-- end - terminal -->
</div>
