<div class="contentCenter">
  <!-- start - terminal -->
  <div class="terminal">
    <pre><span class="terminalBot">meetup:</span> Seriously? Should I be concerned?</pre>
    <pre><span class="terminalBot">meetup:</span> I'm not taking any inputs here.</pre>
    <pre><span class="terminalBot">meetup:</span> I'll check down the back of the sofa and have a rummage through that bowl full of junk next to the front door.</pre>
    <pre><span class="terminalBot">meetup:</span> Although I'm not sure what you're looking for, here's a few ideas:</pre>
    <pre><span class="terminalBot">meetup:</span> ...</pre>
    <pre><span class="terminalBot">meetup:</span> <a routerLink="/projects">Head to the homepage</a> - pop here to start your journey</pre>
    <pre><span class="terminalBot">meetup:</span> ...</pre>
  </div>
  <!-- end - terminal -->
</div>
