<div class="contentCenter">
  <!-- start - terminal -->
  <div class="terminal">
    <pre>What is MeetUp?</pre>
    <pre><span class="terminalBot">meetup:</span> I'm a small platform to create and register to a meet-up (public or private).</pre>
    <pre><span class="terminalBot">meetup:</span> Let's get you logged in.</pre>
    <pre><span class="floatLeft">username: </span><span class="overflowHiddenBlock"><input type="text" class="transparentInput"></span></pre>
    <pre><span class="floatLeft">password: </span><span class="overflowHiddenBlock"><input type="password" class="transparentInput"></span></pre>
    <pre><a>Login</a> <span class="inlineBlock"><mat-progress-spinner class="inlineBlock" color="primary" mode="indeterminate" [diameter]="14"></mat-progress-spinner></span></pre>
    <pre><span class="terminalBotError">meetup:</span> Something bad happened, please check back later</pre>
    <pre><a routerLink="../signup">I don't have an account</a></pre>
  </div>
  <!-- end - terminal -->
</div>
