<div class="contentCenter">
  <!-- start - terminal -->
  <div class="terminal">
    <div style="height: 8px;"></div>
    <pre><span class="floatLeft">Title: </span><span class="overflowHiddenBlock"><input type="text" class="transparentInput" [(ngModel)]="title"></span></pre>
    <div style="height: 6px;"></div>
    <pre><span class="floatLeft">Description: </span><span class="overflowHiddenBlock"><textarea id="description" class="transparentInput zeroPadding" cdkTextareaAutosize [(ngModel)]="description"></textarea></span></pre>
    <pre><span>Start date: </span><mat-form-field><input matInput [matDatepicker]="startpicker" disabled [(ngModel)]="startDate"><mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle><mat-datepicker #startpicker disabled="false"></mat-datepicker></mat-form-field></pre>
    <div style="height: 3px;"></div>
    <pre><span>Start hour: </span><mat-form-field><mat-select [(value)]="startHour"><mat-option *ngFor="let hour of hours; index as index;" [value]="hour">{{hour}}</mat-option></mat-select></mat-form-field></pre>
    <div style="height: 8px;"></div>
    <pre><span>Start minute: </span><mat-form-field><mat-select [(value)]="startMinute"><mat-option *ngFor="let minute of minutes; index as index;" [value]="minute">{{minute}}</mat-option></mat-select></mat-form-field></pre>
    <div style="height: 3px;"></div>
    <pre><span>End date: </span><mat-form-field><input matInput [matDatepicker]="endpicker" disabled [(ngModel)]="endDate"><mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle><mat-datepicker #endpicker disabled="false"></mat-datepicker></mat-form-field></pre>
    <div style="height: 3px;"></div>
    <pre><span>End hour: </span><mat-form-field><mat-select [(value)]="endHour"><mat-option *ngFor="let hour of hours; index as index;" [value]="hour">{{hour}}</mat-option></mat-select></mat-form-field></pre>
    <div style="height: 8px;"></div>
    <pre><span>End minute: </span><mat-form-field><mat-select [(value)]="endMinute"><mat-option *ngFor="let minute of minutes; index as index;" [value]="minute">{{minute}}</mat-option></mat-select></mat-form-field></pre>
    <div style="height: 3px;"></div>
    <pre><span>Is this meet-up private: </span> <mat-slide-toggle [(ngModel)]="isPrivate"></mat-slide-toggle></pre>
    <div style="height: 3px;"></div>
    <pre><span>Location (optional): </span>{{mapLat ? (mapTitle + '\nCountry: ' + mapCountry + '\nLatitude: ' + mapLat + '\nLongitude: ' + mapLng) : ''}} <a class="cursorPointer" (click)="openMapDialog()">{{mapLat ? 'edit' : 'select'}}</a> <a class="cursorPointer" (click)="removeMap()">{{mapLat ? 'remove' : ''}}</a></pre>
    <div style="height: 3px;"></div>
    <pre><a class="cursorPointer" [ngClass]="isAdding ? 'disabled' : ''" (click)="addMeetup()">Create meet-up</a> <span class="inlineBlock" *ngIf="isAdding"><mat-progress-spinner class="inlineBlock" color="primary" mode="indeterminate" [diameter]="14"></mat-progress-spinner></span></pre>
    <div style="height: 3px;"></div>
    <pre *ngIf="errorMessage.length"><span class="terminalBotError">meetup:</span> {{errorMessage}}</pre>
    <pre *ngIf="message.length"><span class="terminalBot">meetup:</span> {{message}}</pre>
  </div>
  <!-- end - terminal -->
</div>
