<div class="contentCenter">
  <!-- start - terminal -->
  <div class="terminal">
    <pre><span class="terminalBot">meetup:</span> Let's get you signed up.</pre>
    <pre><span class="floatLeft">username: </span><span class="overflowHiddenBlock"><input type="text" class="transparentInput"></span></pre>
    <pre><span class="floatLeft">email: </span><span class="overflowHiddenBlock"><input type="email" class="transparentInput"></span></pre>
    <pre><span class="floatLeft">password: </span><span class="overflowHiddenBlock"><input type="password" class="transparentInput"></span></pre>
    <pre><span class="floatLeft">re-enter password: </span><span class="overflowHiddenBlock"><input type="password" class="transparentInput"></span></pre>
    <pre><a>Sign up</a> <span class="inlineBlock"><mat-progress-spinner class="inlineBlock" color="primary" mode="indeterminate" [diameter]="14"></mat-progress-spinner></span></pre>
    <pre><span class="terminalBotError">meetup:</span> Something bad happened, please check back later</pre>
    <pre><a routerLink="../login">Back to sign in</a></pre>
  </div>
  <!-- end - terminal -->
</div>
