<div class="contentCenter">
  <!-- start - terminal fetching -->
  <div class="terminal" *ngIf="isFetchingDescription || errorMessageFetching.length">
    <pre *ngIf="!errorMessageFetching.length"><span class="terminalBot">meetup:</span> Let me fetch data for this meet-up.. This should be quick! <span class="inlineBlock"><mat-progress-spinner class="inlineBlock" color="primary" mode="indeterminate" [diameter]="14"></mat-progress-spinner></span></pre>
    <pre *ngIf="errorMessageFetching.length"><span class="terminalBotError">meetup:</span> {{'D\'oh! ' + errorMessageFetching}}</pre>
  </div>
  <!-- end - terminal fetching -->
  <!-- start - terminal -->
  <div class="terminal" *ngIf="!isFetchingDescription && !errorMessageFetching.length">
    <pre><span class="terminalBot">{{description.title}}</span></pre>
    <pre>{{description.timeline.from}} - {{description.timeline.to}}</pre>
    <pre>{{description.description}}</pre>
    <pre><span class="terminalBot">Location:</span> <span *ngIf="!description.location.title.length">not specified</span><a class="cursorPointer" (click)="openMapDialog()" *ngIf="description.location.title.length">view on map</a></pre>
    <pre>{{descriptionExtras.peopleRegistered}} {{descriptionExtras.tense}}<span *ngIf="descriptionExtras.amIGoing">, me too!</span><a class="cursorPointer" [ngClass]="isRegistering ? 'disabled' : ''" *ngIf="!descriptionExtras.amIGoing && descriptionExtras.isRegistrationOpen" (click)="register()">, register me <span class="inlineBlock" *ngIf="isRegistering"><mat-progress-spinner class="inlineBlock" color="primary" mode="indeterminate" [diameter]="14"></mat-progress-spinner></span></a></pre>
    <pre *ngIf="errorMessage.length"><span class="terminalBotError">meetup:</span> {{errorMessage}}</pre>
    <pre *ngIf="message.length"><span class="terminalBot">meetup:</span> {{message}}</pre>
  </div>
  <!-- end - terminal -->
</div>
