<div class="contentCenter">
  <!-- start - terminal fetching -->
  <div class="terminal" *ngIf="isFetchingDescription || errorMessageFetching.length">
    <pre *ngIf="!errorMessageFetching.length"><span class="terminalBot">meetup:</span> Let me fetch data for this meet-up.. This should be quick! <span class="inlineBlock"><mat-progress-spinner class="inlineBlock" color="primary" mode="indeterminate" [diameter]="14"></mat-progress-spinner></span></pre>
    <pre *ngIf="errorMessageFetching.length"><span class="terminalBotError">meetup:</span> {{'D\'oh! ' + errorMessageFetching}}</pre>
  </div>
  <!-- end - terminal fetching -->
  <!-- start - terminal -->
  <div class="terminal" *ngIf="!isFetchingDescription && !errorMessageFetching.length">
    <pre>{{description.title}}</pre>
    <pre>{{description.timeline.from}} - {{description.timeline.to}}</pre>
    <pre>{{description.description}}</pre>
    <pre><span class="terminalBot">Location:</span> <span *ngIf="!description.location.title.length">not specified</span><a class="cursorPointer" (click)="openMapDialog()" *ngIf="description.location.title.length">view on map</a></pre>
    <pre>{{descriptionExtras.peopleRegistered}} people are going, <span *ngIf="descriptionExtras.amIGoing">me too!</span><a class="cursorPointer" *ngIf="!descriptionExtras.amIGoing">register me</a></pre>
  </div>
  <!-- end - terminal -->
</div>
