<div class="contentCenter">
  <!-- start - terminal -->
  <div class="terminal">
    <pre><span class="terminalBot">meetup:</span> Let me fetch all live meet-ups.. This should be quick! <span class="inlineBlock"><mat-progress-spinner class="inlineBlock" color="primary" mode="indeterminate" [diameter]="14"></mat-progress-spinner></span></pre>
    <pre><span class="terminalBot">meetup:</span> And here they are..</pre>
    <pre>01. <a>This is a meetup title</a> (Singapore)</pre>
    <pre>02. <a>This is another meetup title</a> (New York)</pre>
    <pre>03. <a>This is just another meetup title</a> (Qatar)</pre>
    <pre>04. <a>This is just a meetup title</a> (Bengaluru)</pre>
  </div>
  <!-- end - terminal -->
</div>
